/* Comentário em css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body{
    background: gray;
    /* background: #c2c2c2;
    background: rgb(119, 119, 119);
    background: rgba(0,0,0,0.5); */
}

h2{
    color: blue;
}

.vermelho{
    color: red;
}

#verde{
    color:green;
}